profiles {

    process.container = 'iracooke/movp'

    test {
        params {
            samples="${projectDir}/test/test.csv"
            params.base_path="${projectDir}"
            outdir="${launchDir}/testout"
        }
    }

    standard {
        process.executor = 'local'
    }

    docker {
        process.executor = 'local'
        docker.enabled = true
    }

    singularity {
        process.executor = 'local'
        singularity.enabled = true
    }    

    pbspro {
        process.executor = 'pbspro'
        singularity.enabled = true
        runOptions = "-B ${PWD}:${PWD}"
    }


    genomics12 {
        process.executor = 'local'
        singularity.enabled = true
        runOptions = "-B ${PWD}:${PWD}"
    }

}

