
process {
    withName: 'fastqc'{
        cpus            = { check_max( 4 * task.attempt, 'cpus' ) }
        memory          = { check_max( 4.GB * task.attempt, 'memory' ) }
    }
    withName: 'fastp'{
        cpus            = { check_max( 12 * task.attempt, 'cpus' ) }
        memory          = { check_max( 4.GB * task.attempt, 'memory' ) }
    }
}

profiles {

    process.container = 'iracooke/movp:0.3'

    test {
        params {
            genome="${projectDir}/test/data/QXJH01001862.fasta"
            samples="${projectDir}/test/test.csv"
            params.base_path="${projectDir}"
            outdir="${launchDir}/testout"
        }
    }
    test_pe {
        params {
            genome="${projectDir}/test/data/Sc0000011.fasta"
            samples="${projectDir}/test/test_pe.csv"
            params.base_path="${projectDir}"
            outdir="${launchDir}/testout"
        }
    }

    standard {
        process.executor = 'local'
    }

    docker {
        process.executor = 'local'
        docker.enabled = true
    }

    singularity {
        process.executor = 'local'
        singularity.enabled = true
    }    

    zodiac {
        process.executor = 'pbspro'
        singularity.enabled = true
        runOptions = "-B ${PWD}:${PWD}"
    }


    genomics {
        process.executor = 'local'
        singularity.enabled = true
        runOptions = "-B ${PWD}:${PWD}"


        process {
    cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
    memory = { check_max( 6.GB * task.attempt, 'memory' ) }
    }

}

