// This config file needs to be used if running movp on the AIMS HPC
// To run, use '-profile singulaity' and '-c aimshpc.config' options for your nextflow run command

params {
    max_cpus = 64
    max_memory = 230.Gb
}

// main parameter to change from other config files is the queue ('cpuq' for aims HPC, as of March 2025)
// need singularity.envWhitelist to include USER, or it will return an error stating that username could not be found

process {
	cache = 'lenient'
	stageInMode = 'symlink'
	scratch = true

	executor = 'slurm'
	queue = 'cpuq'
	cpus = 1
	time = '1h'
  
  withName: 'bwa_index'{
    time = '4h'
  }

  withName: 'bwa_mem_gatk' {
    cpus = 8
    memory = 30.GB
  }

  withName: 'fastq2ubam'{
    cpus   = 1
    memory = 15.GB
  }

  withName: 'freebayes'{
    cpus = 8
    memory          =  30.GB
    time = '4h' 
  }

  withName: 'mpileup_call'{
    cpus = 8
    memory          = 30.GB 
  }

  withName: 'mpileup_collect'{
    memory          = 40.GB 
  }  

  withName: 'freebayes_collect'{
    memory          = 40.GB 
  }

  withName: 'gatk_mark_duplicates'{
    memory = 20.GB
  }

  withName: 'markadapters'{
    memory = 20.GB
  }  

  withName: 'gatk_haplotype_caller'{
    memory = 40.GB
    time = '4h'
    cpus = 4
  }

  withName: 'gatk_genotypegvcfs'{
    memory = 20.GB
    time = '10h'
  }

}

// currently using a folder called 'test' under USER's scratch directory
// this folder will contain temporary files of the pipeline. change if needed

workDir = "/export/scratch/${USER}/test"

// limiting current max number of jobs in queue to 40
// because of small chunk for calling causing too many jobs to be submitted otherwise
// LORENZO TO-DO: investigate alternative solutions and adjust

executor {
    queueSize = 40
    submitRateLimit = '5/1min'
}

// singularity.cacheDir - this directory will be used to cache the singularity image. can set to whatever works for you

singularity {
  enabled = true
  envWhitelist='https_proxy,http_proxy,ftp_proxy,DISPLAY,SLURM_JOBID,SINGULARITY_BINDPATH,USER'
  cacheDir = "/export/home/l-p/${USER}/.nxf/singularity_cache"
  // autoMounts = true
}
