process {

  container = 'iracooke/movp:0.4'
  cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
  memory = { check_max( 6.GB * task.attempt, 'memory' ) }


  withName: 'fastqc'{
        cpus            = { check_max( 4 * task.attempt, 'cpus' ) }
        memory          = { check_max( 4.GB * task.attempt, 'memory' ) }
  }
  withName: 'fastp'{
      cpus            = { check_max( 12 * task.attempt, 'cpus' ) }
      memory          = { check_max( 4.GB * task.attempt, 'memory' ) }
  }

  withName: 'fastq2ubam'{
    cpus   = { check_max( 2    * task.attempt, 'cpus'   ) }
  }

  withName: 'markadapters' {
    cpus= { check_max( 12 * task.attempt, 'cpus' ) }
  }

  withName: 'bwa_mem_gatk'{
    cpus = { check_max( 12 * task.attempt, 'cpus' ) }
    memory          = { check_max( 20.GB * task.attempt, 'memory' ) }
  }

  withName: 'gatk_mark_duplicates'{
    cpus = { check_max( 4 * task.attempt, 'cpus' ) }
    ext.args='-MAX_FILE_HANDLES 1000'
  }

  withName: 'gatk_haplotype_caller'{
    cpus = { check_max( 4 * task.attempt, 'cpus' ) }
    memory = { check_max( 20.GB * task.attempt, 'memory' ) }
  }

  withName: 'gatk_genomicsdb_import' {
    cpus = { check_max( 2 * task.attempt, 'cpus' ) }
  }

  withName: 'gatk_genotypegvcfs' {
    memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  }


  withName: 'stat'{
    cpus = { check_max( 12 * task.attempt, 'cpus' ) }
  }

  withName: 'freebayes'{
    cpus = 1
    memory          = { check_max( 20.GB * task.attempt, 'memory' ) }
    ext.args='-m 20 -q 20 -R 0 -S 0'
  }

  withName: 'mpileup_call'{
    cpus = 1
    memory          = { check_max( 10.GB * task.attempt, 'memory' ) }
  }

  withName: 'mpileup_collect'{
    memory          = { check_max( 40.GB * task.attempt, 'memory' ) }
  }  

  withName: 'freebayes_collect'{
    memory          = { check_max( 40.GB * task.attempt, 'memory' ) }
  }

}

params.base_path="${launchDir}"
params.populations="NO_FILE"
params.max_cpus=64
params.fb_chunksize=500000
params.max_memory=200.GB
params.callers="freebayes,bcftools,gatk"

