process {

  container = 'iracooke/movp:0.4'
  cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
  memory = { check_max( 6.GB * task.attempt, 'memory' ) }


  withName: 'fastqc'{
        cpus            = { check_max( 4 * task.attempt, 'cpus' ) }
        memory          = { check_max( 4.GB * task.attempt, 'memory' ) }
  }
  withName: 'fastp'{
      cpus            = { check_max( 12 * task.attempt, 'cpus' ) }
      memory          = { check_max( 4.GB * task.attempt, 'memory' ) }
  }
  withName: 'bwa_mem_gatk'{
    cpus = { check_max( 12 * task.attempt, 'cpus' ) }
    memory          = { check_max( 20.GB * task.attempt, 'memory' ) }
  }
  withName: 'freebayes'{
    cpus = { check_max( 4 * task.attempt, 'cpus' ) }
    memory          = { check_max( 20.GB * task.attempt, 'memory' ) }
    queue = 'normal'
  }
  withName: 'mpileup_call'{
    cpus = { check_max( 24 * task.attempt, 'cpus' ) }
    memory          = { check_max( 40.GB * task.attempt, 'memory' ) }
    queue = 'normal'
  }

}

params.base_path="${launchDir}"
params.populations="NO_FILE"
params.max_cpus=64
params.fb_chunksize=50000
params.max_memory=200.GB
