params {
        max_cpus=80
        max_memory=1000.GB
        fb_chunksize=1000000        
}

process {
  scratch = true
  stageInMode = 'symlink'
  executor = 'local'

  withName: 'gatk_haplotype_caller'{
    cpus = { check_max( 2 * task.attempt, 'cpus' ) }
    memory = { check_max( 10.GB * task.attempt, 'memory' ) }
  }

  withName: 'gatk_genomicsdb_import' {
    cpus = { check_max( 2 * task.attempt, 'cpus' ) }
  }

  withName: 'gatk_genotypegvcfs' {
    memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  }


  withName: 'stat'{
    cpus = { check_max( 2 * task.attempt, 'cpus' ) }
  }


}

singularity {

        enabled = true
        autoMounts = true 
        runOptions='--bind /fast/tmp:/tmp'
}