params {
    max_cpus = 64
    max_memory = 230.Gb
}

process {
  cache = 'lenient'
  stageInMode = 'symlink'
  scratch = true

  executor = 'slurm'
  clusterOptions = "--account=${params.slurm_account}"
  queue = 'work'
  cpus = 1
  time = '1h'
  memory = '4000MB'

  

  withName: 'fastq2ubam'{
    cpus   = 1
    memory = 15.GB
  }

  withName: 'freebayes'{
    cpus = 1
    memory          =  20.GB 
    ext.args='-m 20 -q 20 -R 0 -S 0'
  }

  withName: 'mpileup_call'{
    cpus = 1
    memory          = 20.GB 
  }

  withName: 'mpileup_collect'{
    memory          = 40.GB 
  }  

  withName: 'freebayes_collect'{
    memory          = 40.GB 
  }

  withName: 'gatk_mark_duplicates'{
    memory = 20.GB
  }

  withName: 'gatk_haplotype_caller'{
    memory = 40.GB
  }

  withName: 'gatk_genotypegvcfs'{
    memory = 20.GB
    time = '10h'
  }



}

workDir = "$MYSCRATCH/nxf_work"

executor {
      queueSize = 250
}    
  
singularity {
      enabled = true
      envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH, SINGULARITYENV_LD_PRELOAD'
      cacheDir = "$MYSOFTWARE/.nextflow_singularity"
      runOptions = "--rocm"
}
