process {
  cache = 'lenient'
  stageInMode = 'symlink'

  withName: 'fastq2ubam'{
    cpus   = 1
  }

  withName: 'freebayes'{
    cpus = 1
    memory          =  20.GB 
    ext.args='-m 20 -q 20 -R 0 -S 0'
  }

  withName: 'mpileup_call'{
    cpus = 1
    memory          = 10.GB 
  }

  withName: 'mpileup_collect'{
    memory          = 40.GB 
  }  

  withName: 'freebayes_collect'{
    memory          = 40.GB 
  }
}

params {    
    workDir = "$MYSCRATCH/nxf_work"
    
  

    singularity {
      enabled = true
      envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH, SINGULARITYENV_LD_PRELOAD'
      cacheDir = "$MYSOFTWARE/.nextflow_singularity"
      runOptions = "--rocm"
    }
      
    slurm_account = 'pawsey1088'
    process {
      executor = 'slurm'
      clusterOptions = "--account=${params.slurm_account}"
      queue = 'work'
      cpus = 1
      time = '1h'
      memory = '1800MB'
        
    }

    executor {
      $slurm {
        queueSize = 1024
      }
    }
}