process {

  container = 'iracooke/movp:0.4'
  cpus   = 1
  memory = 6.GB

  withName: 'freebayes'{
    ext.args='-m 20 -q 20 -R 0 -S 0'
  }
  
}

params.base_path="${launchDir}"
params.populations="NO_FILE"
params.max_cpus=64
params.fb_chunksize=500000
params.max_memory=200.GB
params.callers="freebayes,bcftools,gatk"

